[sso-session funidata]
sso_start_url = https://funidata.awsapps.com/start
sso_region = eu-north-1
sso_registration_scopes = sso:account:access

[profile default]
sso_session = funidata

# for ECR read
[profile aws_fd_master]
sso_session = funidata
sso_account_id = 716888317948
sso_role_name = ECRReadAccess
region = eu-central-1
output = json

# for ECR read
[profile aws_sis]
sso_session = funidata
sso_account_id = 462109650052
sso_role_name = ReadOnlyAccess
region = eu-north-1
output = json

[profile aws_oodikone_dev]
sso_session = funidata
sso_account_id = 637423527834
sso_role_name = ReadOnlyAccess
region = eu-north-1
output = json

[profile aws_oodikone_test]
sso_session = funidata
sso_account_id = 014498631553
sso_role_name = ReadOnlyAccess
region = eu-north-1
output = json

[profile aws_oodikone_prod]
sso_session = funidata
sso_account_id = 891612557786
sso_role_name = ReadOnlyAccess
region = eu-north-1
output = json
