[sso-session funidata]
sso_start_url = https://funidata.awsapps.com/start
sso_region = eu-north-1
sso_registration_scopes = sso:account:access

[profile default]
sso_session = funidata

[profile aws_fd_master]
sso_session = funidata
sso_account_id = 716888317948
sso_role_name = ECRReadAccess
region = eu-central-1
output = json

[profile aws_iam]
sso_session = funidata
sso_account_id = 558714601418
sso_role_name = ReadOnlyAccess
region = eu-north-1
output = json

[profile aws_fd_dev]
sso_session = funidata
sso_account_id = 615841049000
sso_role_name = ReadOnlyAccess
region = eu-central-1
output = json

[profile aws_fd]
sso_session = funidata
sso_account_id = 905192810529
sso_role_name = ReadOnlyAccess
region = eu-north-1
output = json

[profile aws_ops]
sso_session = funidata
sso_account_id = 027629690867
sso_role_name = ReadOnlyAccess
region = eu-north-1
output = json

[profile aws_sis]
sso_session = funidata
sso_account_id = 462109650052
sso_role_name = ReadOnlyAccess
region = eu-north-1
output = json

[profile aws_sis_dev]
sso_session = funidata
sso_account_id = 773066797740
sso_role_name = ReadOnlyAccess
region = eu-north-1
output = json

[profile aws_sis_ops]
sso_session = funidata
sso_account_id = 533021719046
sso_role_name = ReadOnlyAccess
region = eu-north-1
output = json

[profile aws_sis_test]
sso_session = funidata
sso_account_id = 172015916278
sso_role_name = ReadOnlyAccess
region = eu-north-1
output = json

[profile aws_sis_demo]
sso_session = funidata
sso_account_id = 536274204817
sso_role_name = ReadOnlyAccess
region = eu-north-1
output = json

[profile aws_sis_staging]
sso_session = funidata
sso_account_id = 734512421775
sso_role_name = ReadOnlyAccess
region = eu-north-1
output = json

[profile aws_sis_prod]
sso_session = funidata
sso_account_id = 130608131304
sso_role_name = ReadOnlyAccess
region = eu-north-1
output = json

[profile aws_hanken_dev]
sso_session = funidata
sso_account_id = 733667501330
sso_role_name = ReadOnlyAccess
region = eu-north-1
output = json

[profile aws_hanken_test]
sso_session = funidata
sso_account_id = 100388204868
sso_role_name = ReadOnlyAccess
region = eu-north-1
output = json

[profile aws_hanken_prod]
sso_session = funidata
sso_account_id = 027615224740
sso_role_name = ReadOnlyAccess
region = eu-north-1
output = json

[profile aws_harri_dev]
sso_session = funidata
sso_account_id = 921896361655
sso_role_name = ReadOnlyAccess
region = eu-north-1
output = json

[profile aws_harri]
sso_session = funidata
sso_account_id = 268271926084
sso_role_name = ReadOnlyAccess
region = eu-north-1
output = json

[profile aws_harri_prod]
sso_session = funidata
sso_account_id = 525156385943
sso_role_name = ReadOnlyAccess
region = eu-north-1
output = json

[profile aws_unihow_dev]
sso_session = funidata
sso_account_id = 335179841399
sso_role_name = ReadOnlyAccess
region = eu-north-1
output = json

[profile aws_unihow]
sso_session = funidata
sso_account_id = 827832786578
sso_role_name = ReadOnlyAccess
region = eu-north-1
output = json

[profile aws_unihow_prod]
sso_session = funidata
sso_account_id = 318244787620
sso_role_name = ReadOnlyAccess
region = eu-north-1
output = json

[profile aws_oodikone_dev]
sso_session = funidata
sso_account_id = 637423527834
sso_role_name = ReadOnlyAccess
region = eu-north-1
output = json

[profile aws_oodikone_test]
sso_session = funidata
sso_account_id = 014498631553
sso_role_name = ReadOnlyAccess
region = eu-north-1
output = json

[profile aws_oodikone_prod]
sso_session = funidata
sso_account_id = 891612557786
sso_role_name = ReadOnlyAccess
region = eu-north-1
output = json

[profile aws_rane_dev]
sso_session = funidata
sso_account_id = 512724694035
sso_role_name = ReadOnlyAccess
region = eu-north-1
output = json

[profile aws_datalake_dev]
sso_session = funidata
sso_account_id = 456551559952
sso_role_name = ReadOnlyAccess
region = eu-north-1
output = json
