[inventory]
enable_plugins = yaml, funidata.infra.aws_ec2, ini

# fail if inventory source cannot be parsed
any_unparsed_is_failed = true

# use cache if configured in inventory source
cache_plugin = jsonfile
cache_connection = ~/.ansible/inventory-cache
cache_timeout = 3600

[ssh_connection]
pipelining = true

[defaults]
vault_password_file = vault-password.secret

# better command failure output formatting
stdout_callback = debug

# large enough to run playbook tasks across an entire environment in parallel
forks = 20

# keep using foo-bar inventory groups
force_valid_group_names = ignore

# Silence deprecation warnings by opting in to new behavior: https://github.com/ansible/ansible/issues/53428
conditional_bare_variables = false
